/** 
 * style.css
 */

/* Styling to visually emphasize the active menu state */
.active-nav {
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-weight: bold;
}

/* Footer related one */
main {
    overflow-y: auto;
}

